.completed {
    text-decoration: line-through;
    text-decoration-color: red;
}

.main{
    background-color: white;
    padding-bottom: 10%;
    padding-top: 5%;
}

*{
        Font-family:"Open Sans" sans-serif;
        Font-weight: 300;
 }